body {
  display: grid;
  justify-content: center;
}

.hide {
  display: none;
}

nav ul {
  display: flex;
  list-style: none;
}

li:after {
  content: " /";
  margin-right: 5px;
}

nav li:last-child::after {
    content: ""; /* Fjern skråstregen efter det sidste element */
  }